.Navbar{
    padding: 1em;

}

.brand{
    font-size: 2em;
}

.btn-flat {
    background-color: purple;
    color: rgb(255, 255, 255);
}

.btn-xxl {
    padding: 1rem;
    font-size: 2rem;
}


.navlink {
    color: red;
    border: 1px solid #FBFEF9;
    border-radius: 25px;
}

.navlink:hover {
    color:white;
    background-color:#A63446;
}